<app-sidenav (onToggleSideNav)="onToggleSideNav()"></app-sidenav>
<div
  class="dashboard-content"
  [style.margin-left]="collapsed ? '16.5625rem' : '5rem'"
>
  <h1>Groups</h1>
  

<div class="card">
  <div class="card-head">Group Item 1</div>
  <div class="card-body">
    <img
      src="https://i.imgur.com/NY9PHQI.png?io=width:816,height:667,transform:fit&io=width:100,height:100,transform:fit"
      alt="Group Item Image"
    />

    <p>
      WD 4TB Gaming Drive Works with Playstation 4 Portable External Hard Drive
      Expand your PS4 gaming experience, Play anywhere Fast and easy, setup Sleek design with high capacity, 3-year manufacturer's limited warranty
    </p>
    <p>
      <span class="date">Order date: January 1, 2024</span>
    </p>
  </div>
</div>
</div>


