<app-sidenav (onToggleSideNav)="onToggleSideNav()"></app-sidenav>
<div
  class="dashboard-content"
  [style.margin-left]="collapsed ? '16.5625rem' : '5rem'"
>
  <h1>Groups</h1>
  

<div class="card">
  <div class="card-head">Group Item 1</div>
  <div class="card-body">
    <img
      src="https://i.imgur.com/NY9PHQI.png"
      alt="Group Item Image"
      style="width: 100px; height: 100px;"
    />

    <p>
      WD 4TB Gaming Drive Works with Playstation 4 
      Portable External Hard Drive
      Expand your PS4 gaming experience, Play anywhere Fast and easy, setup Sleek design with high capacity, 3-year manufacturer's limited warranty
    </p>
    <p>
      <span class="date">Join date: January 1, 2024</span><br>
      <span class="date">Target Order Quantity:<span style="color: red;"> 1</span> / 20</span>
    </p>
  </div>
</div>
</div>


