<app-sidenav (onToggleSideNav)="onToggleSideNav()"></app-sidenav>
<div
  class="dashboard-content"
  [style.margin-left]="collapsed ? '16.5625rem' : '5rem'"
>
  <h1>Orders</h1>

  <div class="card">
    <div class="card-head">Order 1</div>
    <div class="card-body">
      <img
        src="https://i.imgur.com/NY9PHQI.png"
        alt="Order 1 Image"
        style="width: 100px; height: 100px;"
      />

      <p>
        WD 4TB Gaming Drive Works with Playstation 4.
        Expand your PS4 gaming experience, play anywhere Fast and easy, setup Sleek design with high capacity
      </p>
      <p>
        <span class="date">Order date: January 1, 2024</span>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-head">Order 2</div>
    <div class="card-body">
      <img
        src="https://assets.bosecreative.com/transform/444af565-8460-4068-a8f1-b288613d15e2/SS_CC_007_RGB?io=width:816,height:667,transform:fit&io=width:100,height:100,transform:fit "
        alt="Order 2 Image"
      />
      <p>
        Bose Surround Speakers - White.Designed to bring music, movies, and TV to life with full, immersive surround sound
      </p>
      <p>
        <span class="date">Order date: January 2, 2024</span>
      </p>
    </div>
  </div>
</div>
