


<!-- dashboard.component.html -->
<div class="dashboard-container">
  <app-sidenav (onToggleSideNav)="onToggleSideNav()"></app-sidenav>
  <div class="dashboard-content" [style.margin-left]="collapsed ? '16.5625rem' : '5rem'">
    <h1>Dashboard</h1>
      <div class="column">
        <div class="card">
          <div class="card-head">Order In Progress</div>
          <div class="card-body">
            <img src="https://assets.bosecreative.com/transform/b8842786-2422-48f6-b24b-2d6e440d42dc/Set_Ultra_Earbuds_Black_with_Black_Fabric_Case?io=width:816,height:667,transform:fit&amp;io=width:100,height:100,transform:fit" alt="Order 1 Image">
        
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aliquid quam illum repudiandae distinctio porro, earum quaerat consequuntur molestiae amet cumque maxime recusandae excepturi ratione molestias eum cum. Error, autem.
            </p>
            <p>
              <span class="date">Order date: January 1, 2024</span>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-head">Order Finished</div>
          <div class="card-body">
            <img src="https://assets.bosecreative.com/transform/444af565-8460-4068-a8f1-b288613d15e2/SS_CC_007_RGB?io=width:816,height:667,transform:fit&io=width:100,height:100,transform:fit "alt="Order 2 Image">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aliquid quam illum repudiandae distinctio porro, earum quaerat consequuntur molestiae amet cumque maxime recusandae excepturi ratione molestias eum cum. Error, autem.
            </p>
            <p>
              <span class="date">Order date: January 2, 2024</span>
            </p>
            <p>
              <span class="date">Order Finish date: January 3, 2024</span>
            </p>
          </div>
        </div>

      </div>



      <div class="column">
        <div class="card">
          <div class="card-head">Objects Saved</div>
          <div class="card-body">
            <img src="https://assets.bosecreative.com/transform/4326aee6-22d1-424d-b3d1-0dc72ea3f6cb/FRM_Tempo_008_RGB?io=width:816,height:667,transform:fit&io=width:100,height:100,transform:fit">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aliquid quam illum repudiandae distinctio porro, earum quaerat consequuntur molestiae amet cumque maxime recusandae excepturi ratione molestias eum cum. Error, autem.
            </p>
          </div>
        </div>

      </div>
  </div>
</div>
