<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unideals:where smart savings meet college life!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Unideals</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>

                

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                        aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>
</head>

<body>

  <mat-card clss="mb-4">
    <div class="flex justify-between">
     
      
  
  <button routerLink="/introduction" mat-button style="color:rgb(20, 141, 20)">Home</button>
  
  
  <button routerLink="/home" mat-button style="color:darkorange">Shop</button>
  
  <button  routerLink="/leader" mat-button style="color:firebrick">Leader</button>
  
  
    </div>
  </mat-card>






<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
    <input type="search" class="form-control form-control-dark " placeholder="Search..."
        aria-label="Search">
</form>






    <div class="p-4 p-md-5 mb-4 mt-5 rounded text-body-emphasis bg-body-secondary container" style="background-color:rgb(122, 174, 122)!important;">
        <div class="px-0">
          <h1 class="display-4 fst-italic">What is Group Leader?</h1>
          <p class="lead my-3">As a Group Leader, you become the vital link between retailers and your local community. Retailers deliver products directly to the Group Leader, and the Group Leader manages the distribution of these items to each member in your group.</p>
          <p class="lead my-3">Not only do you foster a closer, more connected college, but you also earn from every transaction!
        </p>
          <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Learn more...</a></p>
        </div>
      </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="325" src="https://img.kwcdn.com/product/Fancyalgo/VirtualModelMatting/f8b110d445aacc9bcf791d34c35309b4.jpg?imageView2/2/w/800/q/70/format/webp">
                <div class="card-body">
                  <p class="card-text">5pcs Multicolor Ballpoint Pen Gel Pen, Small Gifts, Party Supplies Refill Transparent Barrel Ballpoint Pen, Office Learning Supplies Gift For Students Kids</p>
                  <p class="card-text"></p>

                
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Join</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="325" src="https://img.kwcdn.com/product/Fancyalgo/VirtualModelMatting/5c8e35e9d05429abe54257cedea2fbab.jpg?imageView2/2/w/800/q/70/format/webp">
                <div class="card-body">
                  <p class="card-text">10pcs, File Bag Transparent Plastic Waterproof Large-capacity Button Test Paper Storage Bag Business Office Supplies</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Join</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="325" src="https://img.kwcdn.com/product/Fancyalgo/VirtualModelMatting/d7eae689e122c900eb91aff6c6a472b3.jpg?imageView2/2/w/800/q/70/format/webp">
                <div class="card-body">
                  <p class="card-text">240/120/60pcs Multicolor Adhesive Writable Index Label Marking Page Book Marking Reading Notebook Wheel Office Supplies</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Join</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="325" src="https://img.kwcdn.com/product/Fancyalgo/VirtualModelMatting/a03d4b686ee1898c4263d3dc4be97612.jpg?imageView2/2/w/800/q/70/format/webp">
                <div class="card-body">
                  <p class="card-text">30pcs Mixed Color Long Tail Clip Folder - Perfect for Office Supplies & Test Paper Book Clips!Micro Size Office Clips For Home School Office And Business.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Join</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="325" src="https://img.kwcdn.com/product/Fancyalgo/VirtualModelMatting/74251ac8913c4ed722e1b43052a1e1db.jpg?imageView2/2/w/800/q/70/format/webp">
                <div class="card-body">
                  <p class="card-text">Clipboards With Storage, High Capacity Clip Boards With Storage, Heavy Duty Nursing Clipboard Folder, Plastic Clipboard With Pen Holder</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Join</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="325" src="https://img.kwcdn.com/product/Fancyalgo/VirtualModelMatting/f09aea758e7974e5617ba13302fc88c2.jpg?imageView2/2/w/800/q/70/format/webp">
                <div class="card-body">
                  <p class="card-text">1pc Magnetic Paper Clips, Cute Office Supplies For Desk Organizer Magnetic Paper Clip Dispenser Box K1KF</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Join</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>             

            <ul class="nav justify-between" style="width: 100%;background-color: rgb(122, 174, 122);">
              <li style="width: 25%;"><a href="#" class="nav-link px-2 text-black">Features</a></li>
              <li style="width: 25%;"><a href="#" class="nav-link px-2 text-black">Pricing</a></li>
              <li style="width: 25%;"><a href="#" class="nav-link px-2 text-black">FAQs</a></li>
              <li style="width: 25%;"><a href="#" class="nav-link px-2 text-black">About</a></li>
            </ul>
          
          
          </div>
        </div>
      </div>

</body>