


<!-- dashboard.component.html -->
<div class="dashboard-container">
  <app-sidenav (onToggleSideNav)="onToggleSideNav()"></app-sidenav>
  <div class="dashboard-content" [style.margin-left]="collapsed ? '16.5625rem' : '5rem'">
    <h1>Dashboard</h1>
      <div class="column">
        <div class="card">
          <div class="card-head">Order In Progress</div>
          <div class="card-body">
            <img
        src="https://i.imgur.com/NY9PHQI.png"
        alt="Order 1 Image"
        style="width: 100px; height: 100px;"
      />

      <p>
        WD 4TB Gaming Drive Works with Playstation 4.
        Expand your PS4 gaming experience, play anywhere Fast and easy, setup Sleek design with high capacity
      </p>
            <p>
              <span class="date">Order date: January 1, 2024</span>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-head">Order Finished</div>
          <div class="card-body">
            <img src="https://assets.bosecreative.com/transform/444af565-8460-4068-a8f1-b288613d15e2/SS_CC_007_RGB?io=width:816,height:667,transform:fit&io=width:100,height:100,transform:fit "alt="Order 2 Image">
            <p>
              Bose Surround Speakers - White.Designed to bring music, movies, and TV to life with full, immersive surround sound
            </p>
            <p>
              <span class="date">Order date: January 2, 2024</span>
            </p>
            <p>
              <span class="date">Order finish date: January 3, 2024</span>
            </p>
          </div>
        </div>

      </div>



      <div class="column">
        <div class="card">
          <div class="card-head">Objects Saved</div>
          <div class="card-body">
            <img src="https://assets.bosecreative.com/transform/4326aee6-22d1-424d-b3d1-0dc72ea3f6cb/FRM_Tempo_008_RGB?io=width:816,height:667,transform:fit&io=width:100,height:100,transform:fit">
            <p>
              Bose Unisex's Tempo Sunglasses.
              Compatible with the Bose Music app for simple setup, access to future software updates, and ability to personalize your settings for your Bose sport sunglasses.
            </p>
            <p>
              <span class="date">Object saved date: January 3, 2024</span>
            </p>
          </div>
        </div>

      </div>
  </div>
</div>
