<!--in html file-->
<!DOCTYPE html>
<!--This is a language in English-->
<html lang="en">
<!--This is a language in English-->

<head>
	<meta charset="UTF-8">
	<meta name="author" content="Fei Lan">
	<meta name="description" content="Checkout Page">

	<!--This is a link to CSS-->
	<link rel="stylesheet" type="text/css" href="checkout.css">

	<title>Home</title>
</head>

<body>

	
	<header>
		<h2 
		>UNIDEAL</h2>
	</header>

	

	


		
		<main id="content">
			<!--This is a head2-->
			<div class="section" id="shippingAddress">
				<h3 >Shipping Address</h3>
				<h4>Group leader's delivery address:</h4>
				<ul>
					<li> Unideal Group A </li>
					<li> 123 University Street </li>
					<li>Ottawa, ON A2A B9B</li>
				</ul>

				<h4>Your pickup location:</h4>
				<ul>
					<li> Unit 1 </li>
					<li> 123 Pickup Street </li>
					<li>Ottawa, ON A2A B9B</li>
				</ul>
			</div>
			<hr />
			<div id="payment" class="section">

				<p></p>
				<p></p>
				<ul>
					<li>
						<a target="_blank" href="payment.html">
							<img [src]="theImageUrlVisa"  alt="Item Image" alt="Visa" style="width:80px"> 
						</a>
					</li>
					<li>
						<a target="_blank" href="payment.html">
							<img [src]="theImageUrlMasterCard"  alt="MasterCard" style="width:80px">
						</a>
					</li>
					<li>
						<a target="_blank" href="payment.html">
							<img [src]="theImageUrlPayPal" alt="PayPal" style="width:80px">
						</a>
					</li>
					<li>
						<a target="_blank" href="payment.html">
							<img [src]="theImageUrlGiftCard"  alt="GiftCard" style="width:80px">
						</a>
					</li>
				</ul>
			</div>

			<hr />
			<div class="section" id="shipping">

				<h3> Shipping Details </h3>
				<ol>
					<li><b>Wireless Mouse </b>
						<ul>
							<li>Wireless Mouse for Desktops Laptops</li>
							<li>Qauntity: 5</li>
							<li>Price: $100.00</li>
						</ul>
					<li>256 USB Fash Drives
						<ul>
							<li>SanDisk 256GB Ultra Fit USB 3.2 Gen 1 Flash Drive - SDCZ430-256G-GAM46</li>
							<li>Qauntity: 5</li>
							<li>Price: $200.00</li>
						</ul>
					</li>
				</ol>
			</div>

			<hr />
			<div class="section" id="Summary">
				<h3> Order Summary </h3>
				<ul>
					<li>
						<table style="width:500px">
							<tr>
								<td>Items: </td>
								<td class="dollar">2</td>
							</tr>
							<tr>
								<td>Total before tax: </td>
								<td class="dollar">$300.00</td>
							</tr>
							<tr>
								<td>GST/HST: </td>
								<td class="dollar">$39.00</td>
							</tr>
							<tr>
								<th>Order Total:</th>
								<th class="dollar">$339.00</th>
							</tr>
						</table>
					</li>
				</ul>
			</div>
			<button type="Submit"><b>Submit</b> </button> <br />
			<a target="_blank" href="index.html">
				Continue Shopping </a>
		</main>

		<footer>
			<ul>
					<!--Links with index,Resume,Course-->
					<li><a href="contact.html">Contact Us</a></li>
					<li><a href="service.html">Customer Services</a></li>
					<li><a href="help.html">Help</a></li>
			</ul>
	</footer>
	
	</body>
	
	</html>
	