/*
 * Course: ECO-OP
 * Professor: Stephen Gagne
 * Sutdent Name: Fei Lan
 * Due Date: Nov 11, 2023
 * Description: The Style Sheet file for ECO-OP Project
 */

/*
Attributes for body
*/
body {
background-color: white;

  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 0px;
  line-height: 30px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: black;
  border-right-style: inset;
  border-left-style: inset;
}

/*
Attributes for p
*/
p {
  padding: 5px;
}

h3{
  padding-top: 20px;
 border-top: 0cm;
 border-left: 0cm;
 border-right: 0cm;
  border-width: 2px;
  border-color: black;
  font-weight: bold;
  text-decoration: solid;
  font-size: larger;

}


fieldset{
  text-align: center;
}

h4{
  font-weight:500;
  font-style: italic;
  padding-top: 20px;

}


ul.li{
  font-weight: 200;
  padding-top: 20px;
  font-size: 17px;
  
}

header {
  height: 30px;
  background-color: white;
  background-size: contain;
  text-align: center;
  color: black;
}

/*
Attribute for header h1
*/
header h1 {
  font-size: 38px;
}

h2 { 
   font-family:Tahoma, "Trebuchet MS", sans-serif;
   font-weight: 200; border-bottom: 10cm;
   border-color: black;
  text-align: center;
}

/*
Attributes for main
*/
main {
  width: 100%;
  overflow: hidden;
  /*padding: 20px 20px 20px 20px; */
}

/*
Attributes for nav-menu
*/
nav {
 
  background-size: contain;
  height: 30px;
  width: 100%;
  text-align: center;
  color: blue;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: none;
  background-color: white;
  color: grey;
}
nav ul li {
  margin-right: 20px;
  display: inline-block;
  list-style: none;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
}
nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #616161;
}
nav ul {
  margin: 0;
  padding: 0;
}

/*
Attributes for content
*/
#content {
  text-align: left;
  padding: 20px 20px 20px 20px;
}

/*
Attributes for footer.
*/
footer {
  background-color: #eae9de;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  padding: 10px;
  text-align: center;
  position: relative;
  font-size: 14px;
  color: #616161;
}

/*
Attributes for top
*/
#top {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

hr {
  margin-right: 20px;
}

/*
Attrinute for introduction
*/
#introduction {
  width: 80%;
  float: left;
}

/* Attributes for myPhoto image */
#myPhoto {
  border: 2px solid;
  border-color: yellowgreen;
  border-radius: 10px;
  max-width: 150px;
  max-height: 200px;
}


/*
Attributes for course display option 
*/
form {
  padding-left: 60px;
  padding-right: 100px;
  text-align: center;
}
#search-input {
  width: 60%;
}
#filter-level,
#sort-level {
  display: inline-block;
}
.course ul {
  width: 500px;
}
.display-inline {
  display: inline-block;
}

/*
Atttributes for thumnails
*/
.img_thumnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
}
.img_thumnail:hover {
  box-shadow: 0 0 2px 1px rgba(27, 94, 107, 0.5);
}

/*
Siding for project thumnails
*/
@media (min-width: 600px) {
  .project {
    width: 75%;
    float: left;
  }
  .imageId {
    width: 25%;
    float: right;
  }
}

footer ul li {
  margin-right: 10px;
  display: inline-block;
  list-style: none;
  text-align: center;
  line-height: 10px;
  box-sizing: border-box;
}

footer ul li a {
  display: inline-block;
  text-decoration: none;
  color: #616161;
}

footer a:hover {
  text-decoration: none;
  background-color: LIGHTSLATEGRAY;
  color: MOCCASIN;
}

.section ul li {
  list-style: none;
}

#payment ul li {
  margin-right: 20px;
  display: inline-block;
  list-style: none;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
}


.dollar {
  text-align: right;
}
